#backtop {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: -50px;
    cursor: pointer;
    z-index: 99;
    transition: 0.6s;}